<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmbackend.mapper.AdminMapper">
    <insert id="addDoctor" parameterType="com.hmbackend.bean.Doctor">
        insert into hospital.doctor(id, name, sex, work)
        values (#{id}, #{name}, #{sex}, #{work});
    </insert>

    <select id="queryDoctorByID" resultType="com.hmbackend.bean.Doctor">
        select *
        from hospital.doctor
        where username = #{username};
    </select>
</mapper>