<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmbackend.mapper.AdminMapper">
    <insert id="addDoctor" parameterType="com.hmbackend.bean.Doctor">
        insert into hospital.doctor(username, name, sex, work)
        values (#{username}, #{name}, #{sex}, #{work});
    </insert>

    <delete id="deleteDoctor" parameterType="String">
        delete
        from hospital.doctor
                 where doctor.username = #{username};
    </delete>
    <delete id="deleteUser" parameterType="String">
        delete
        from hospital.user
                 where user.username = #{username};
    </delete>
    <delete id="deletePatient" parameterType="String">
        delete
        from hospital.patient
                 where patient.username = #{username};
    </delete>

    <update id="updatePwd" parameterType="String">
        update hospital.user
            set user.password = #{password}
        where user.username = #{username};
    </update>

    <resultMap id="patient" type="com.hmbackend.bean.Patient">
        <id column="id" property="id"/>
        <id column="username" property="username"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="symptom" property="symptom"/>
        <result column="age" property="age"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="address" property="address"/>
    </resultMap>

    <select id="queryPatient" resultMap="patient">
        select *
        from hospital.patient;
    </select>

    <resultMap id="doctor" type="com.hmbackend.bean.Doctor">
        <id column="id" property="id"/>
        <id column="username" property="username"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="address" property="address"/>
        <result column="work" property="work"/>
    </resultMap>

    <select id="queryAllDoctor" resultMap="doctor">
        select *
        from hospital.doctor;
    </select>

    <select id="queryDoctorByUsername" resultType="com.hmbackend.bean.Doctor">
        select *
        from hospital.doctor
        where doctor.username = #{username};
    </select>
    <select id="queryPatientByUsername" resultType="com.hmbackend.bean.Patient">
        select *
        from hospital.patient
        where patient.username = #{username};
    </select>

    <select id="queryDoctorById" resultType="com.hmbackend.bean.Doctor">
        select *
        from hospital.doctor
        where id = #{id};
    </select>

    <update id="updatePatient">
        update hospital.patient
            set patient.age = #{age} , patient.phone_number = #{phone}, patient.address = #{address}
        where patient.username = #{username};
    </update>
</mapper>
