<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmbackend.mapper.AdminMapper">
    <insert id="addDoctor" parameterType="com.hmbackend.bean.Doctor">
        insert into hospital.doctor(username, name, sex, work)
        values (#{username}, #{name}, #{sex}, #{work});
    </insert>

    <delete id="deleteDoctor" parameterType="String">
        delete
        from hospital.doctor
                 where doctor.username = #{username};
    </delete>
    <delete id="deleteUser" parameterType="String">
        delete
        from hospital.user
                 where user.username = #{username};
    </delete>
    <delete id="deletePatient" parameterType="String">
        delete
        from hospital.patient
                 where patient.username = #{username};
    </delete>

    <update id="updatePwd" parameterType="String">
        update hospital.user
            set user.password = #{password}
        where user.username = #{username};
    </update>

    <select id="queryPatient" resultType="com.hmbackend.bean.Patient">
        select *
        from hospital.patient;
    </select>

    <select id="queryAllDoctor" resultType="com.hmbackend.bean.Doctor">
        select *
        from hospital.doctor;
    </select>

    <select id="queryDoctorByUsername" resultType="com.hmbackend.bean.Doctor">
        select *
        from hospital.doctor
        where doctor.username = #{username};
    </select>
    <select id="queryPatientByUsername" resultType="com.hmbackend.bean.Patient">
        select *
        from hospital.patient
        where patient.username = #{username};
    </select>

    <select id="queryDoctorById" resultType="com.hmbackend.bean.Doctor">
        select *
        from hospital.doctor
        where id = #{id};
    </select>
</mapper>
