<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmbackend.mapper.DoctorMapper">
    <insert id="addPatient" parameterType="com.hmbackend.bean.Doctor">
        insert into hospital.docpat(doctor_id,patient_id)
        values (#{doctorId},#{patientId});
    </insert>
    <select id="queryAllPatient" resultType="com.hmbackend.bean.Patient">
        select *
        from hospital.docpat
        where docpat.doctor_id = #{doctorId};
    </select>
    <select id="queryPatientById" resultType="com.hmbackend.bean.Patient">
        select *
        from hospital.patient
        where patient.id = #{patientId};
    </select>
    <insert id="addRx" parameterType="com.hmbackend.bean.Rx">
        insert into hospital.rx(patient_id, content)
        values (#{patientId},#{content});
    </insert>

</mapper>
