<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmbackend.mapper.PatientMapper">
    <!--用户选择医生后插入用户和医生的关系-->
    <insert id="addDoctor" parameterType="com.hmbackend.bean.Patient">
        insert into hospital.docpat(doctor_id,patient_id)
        values (#{doctorId},#{patientId});
    </insert>

    <resultMap id="doctor" type="com.hmbackend.bean.Doctor">
        <id column="id" property="id"/>
        <id column="username" property="username"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="address" property="address"/>
        <result column="work" property="work"/>
        <result column="work_time" property="workTime"/>
    </resultMap>
    <!--根据用户id查询医生-->
    <select id="queryDoctorById" resultMap="doctor">
        select *
        from hospital.doctor
        where doctor.id = #{doctorId};
    </select>
    <!--删除用户选中的医生-->
    <delete id="deleteDoctor">
        delete
        from hospital.docpat
        where docpat.patient_id = #{id};
    </delete>

    <insert id="addHeath" parameterType="com.hmbackend.bean.Health">
        insert into hospital.health (patient_id, temp, status, pulse, date)
            values (#{patientId},#{temp},#{status},#{pulse},#{date});
    </insert>

    <update id="updatePatientInfo">
        update hospital.patient
            set patient.age = #{age}, patient.address = #{address}, patient.phone_number = #{phoneNumber}
            where patient.id = #{patientId};
    </update>

    <resultMap id="docPat" type="com.hmbackend.bean.DocPat">
        <id column="patient_id" property="patientId"/>
        <id column="doctor_id" property="doctorId"/>
    </resultMap>

    <select id="queryDoctorId" resultMap="docPat">
        select *
        from hospital.docpat
        where docpat.patient_id = #{patientId};
    </select>

    <resultMap id="health" type="com.hmbackend.bean.Health">
        <id column="patient_id" property="patientId"/>
        <id column="table_index" property="tableIndex"/>
        <result column="temp" property="temp"/>
        <result column="status" property="status"/>
        <result column="pulse" property="pulse"/>
        <result column="date" property="date"/>
    </resultMap>
    
    <select id="queryAllHealth" resultMap="health">
        select *
        from hospital.health
        where health.patient_id = #{patientId};
    </select>

    <delete id="deleteHealth">
        delete
        from hospital.health
                 where health.patient_id = #{patientId} and health.table_index = #{tableIndex};
    </delete>

    <update id="updateStatus">
        update hospital.patient
            set patient.status = #{status}
        where patient.id = #{patientId};
    </update>
</mapper>