<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmbackend.mapper.PatientMapper">
    <!--用户选择医生后插入用户和医生的关系-->
    <insert id="addDoctor" parameterType="com.hmbackend.bean.Patient">
        insert into hospital.docpat(doctor_id,patient_id)
        values (#{doctorId},#{patientId});
    </insert>
    <!--根据用户id查询医生-->
    <select id="queryDoctor" resultType="com.hmbackend.bean.Doctor">
        select *
        from hospital.docpat
        where docpat.patient_id = #{patientId};
    </select>
    <!--删除用户选中的医生-->
    <delete id="deleteDoctor" parameterType="String">
        delete
        from hospital.docpat
        where docpat.patient_id = #{id};
    </delete>
    <insert id="creatHealth" parameterType="com.hmbackend.bean.Health">
        insert into hospital.health(patient_id, tmep, status)
        values (#{patientId},#{temp},#{status});
    </insert>

    <insert id="addHeath" parameterType="com.hmbackend.bean.Health">
        insert into hospital.health (patient_id, tmep, status, pulse, date)
            values (#{patientId},#{temp},#{status},#{pulse},#{date});
    </insert>

    <update id="updatePatientInfo">
        update hospital.patient
            set patient.age = #{age}, patient.address = #{address}, patient.phone_number = #{phoneNumber}
            where patient.id = #{patientId};
    </update>

    <select id="queryDoctorId" resultType="com.hmbackend.bean.DocPat">
        select *
        from hospital.docpat
        where hospital.docpat.patient_id = #{patientId};
    </select>

</mapper>